#main_title{
    text-align: center;
    background-color: #333;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 20px;
    font-family: Arial sans-serif;
    font-size: 48px;
    font-weight: bold;
}
#main_sub_title{
    font-family: Arial sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.wrap-1{
    display: flex;
    align-items: center;
}
